
<div class="p-16" style="background-color: azure;">
    <div *ngIf="matchedCount === cardImages.length; else elseBlock">
        <div>
            <p>Total Clicks: {{ totalClicks }}</p>
            <p>Moves: {{ moves/2 }}</p>
            <p>Misses: {{ (moves/2) - 3 }}</p>
            <p>Accuracy: {{ ((3 / (totalClicks/2)) * 100).toFixed(2) }}%</p>
          </div>
    </div>
    <ng-template #elseBlock>
        <div id="score">
        <div class="grid p-16">
            <app-game-card
              *ngFor="let c of cards; let idx=index"
              [data]="c"
              (cardClicked)="cardClicked(idx)"
            >
            </app-game-card>
          </div>
        </div>
    </ng-template>
    </div>